.inftinfo-contain {
  width: 100%;
  margin: 6rem auto;
  display: flex;
  justify-content: space-between;
}

.inftinfo-contain .inftinfo-left {
  width: 28.571429rem;
}

.inftinfo-contain .inftinfo-left .inft-img {
  width: 100%;
  height: 28.928571rem;
  border-radius: 0.8888rem;
  border: 0.1111rem solid #3C3C3C;
  overflow: hidden;
}

.inftinfo-contain .inftinfo-left .inft-img .iimg {
  width: 100%;
}

.inftinfo-contain .inftinfo-left .inft-details {
  width: 100%;
  margin: 1.3333rem 0;
  border: 0.1111rem solid #3C3C3C;
  border-radius: 0.8888rem;
  font-family: Poppins-Regular, Poppins;
  overflow: hidden;
}

.inftinfo-contain .inftinfo-left .inft-details .iheader {
  width: 100%;
  padding: 0 0.8888rem;
  height: 4.857143rem;
  line-height: 4.857143rem;
  font-size: 1.428571rem;
  font-weight: 400;
}

.inftinfo-contain .inftinfo-left .ibody {
  width: 100%;
  line-height: 1.928571rem;
  padding: 0.8888rem;
  background: #303131;
  font-size: 1.285714rem;
  font-weight: 400;
  color: #979797;
}

.inftinfo-contain .inftinfo-left .ibody2 {
  width: 100%;
  line-height: 1.928571rem;
  padding: 1.071429rem;
  background: #303131;
  font-size: 1.285714rem;
  font-weight: 400;
  color: #979797;
}

.inftinfo-contain .inftinfo-left .ibody .ibody-content ul li {
  width: 100%;
  line-height: 2.357143rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inftinfo-contain .inftinfo-left .ibody .ibody-content ul li .ikey {
  width: 9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.inftinfo-contain .inftinfo-left .ibody .ibody-content ul li .ivalue {
  width: 9.3333rem;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.inftinfo-contain .inftinfo-right {
  width: 52.785714rem;
}

.inftinfo-contain .inftinfo-right .iheader {
  width: 100%;
  height: 2.5rem;
  line-height: 3.428571rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inftinfo-contain .inftinfo-right .iheader .ititle {
  font-size: 2.285714rem;
  font-family: Poppins-Medium, Poppins;
  font-weight: 400;
}

.inftinfo-contain .inftinfo-right .iheader .ifuns {
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */
}

.inftinfo-contain .inftinfo-right .iheader .ifuns .ipublish-img {
  width: 1.6666rem;
  height: 1.5rem;
}

.inftinfo-contain .inftinfo-right .iheader .ifuns .itransfer-img {
  width: 1.6666rem;
  height: 1.6111rem;
}

.inftinfo-contain .inftinfo-right .iheader .ifuns .ishare-img {
  width: 1.428571rem;
  height: 2rem;
}


/* form */
.iform-public {
  width: 100%;
}

.iform-public .ifrom-cell {
  width: 100%;
  margin: 1.3333rem 0;
  font-family: Poppins-Regular, Poppins;
}

.iform-public .ifrom-cell label {
  font-size: 1.3333rem;
  font-weight: 300;
  color: #979797;
}

.iform-public .ifrom-cell .iinput-area {
  width: 100%;
  margin: 1.3333rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iform-public .ifrom-cell .iinput-area .iinput-outer {
  width: 100%;
  height: 4.8888rem;
  line-height: 4.8888rem;
  border: 0.1111rem solid #3C3C3C;
  border-radius: 0.8888rem;
  padding: 0 1.5555rem;
}

.iform-public .ifrom-cell .iinput-area .iinput-outer-v3 {
  width: 13.5555rem;
  /* width: 0.9444rem; */
}

.iform-public .ifrom-cell .iinput-area .iinput-outer-v2 {
  width: -webkit-calc(100% - 14.5rem);
}

.iform-public .ifrom-cell .iinput-area .iinput-outer-v4 {
  width: 14.7222rem;
  height: 3.3333rem;
  line-height: 3.3333rem;
  border: 0.1111rem solid #3C3C3C;
  border-radius: 0.8888rem;
  padding: 0 1.5555rem;
}

.iform-public .ifrom-cell .iinput-area .iinput-outer .iinput-nfts {
  width: 100%;
  height: 4.8888rem;
  line-height: 4.8888rem;
  font-size: 1.5555rem;
  font-weight: 300;
  color: #FFFFFF;
}

.iform-public .ifrom-cell .iinput-area .iinput-outer .iinput-nfts-v4 {
  width: 100%;
  height: 3.3333rem;
  line-height: 3.3333rem;
  font-weight: 300;
  font-size: 1.3333rem;
  color: #FFFFFF;
}

.iform-public .ifrom-subtitle {
  width: 100%;
  line-height: 2.1666rem;
  margin: 2.3333rem 0 1.3333rem;
  font-size: 1.5555rem;
  font-family: Poppins-Medium, Poppins;
  font-weight: 400;
}

.ibtn-contain .ibtn-publish {
  width: 17.214286rem;
  height: 3.571429rem;
  line-height: 3.571429rem;
  margin: 6.6666rem auto;
  font-size: 1.5555rem;
  font-family: Poppins-SemiBold, Poppins;
  font-weight: 600;
  border-radius: 2.2222rem;
}

/* panel */
.ipanelv2 {
  width: 100%;
  border-radius: 0.8888rem;
  border: 0.1111rem solid #3C3C3C;
  overflow: hidden;
  position: relative;

}

.ipanelv2 .ipanelv2-header {
  width: 100%;
  height: 4.8888rem;
  line-height: 4.8888rem;
  padding: 0 1.3333rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ipanelv2 .ipanelv2-header .ititle {
  font-size: 1.4444rem;
  font-weight: 300;
}

.ipanelv2 .ipanelv2-body {
  width: 100%;
  padding: 1.3333rem;
}

.ipanelv2 .ipanelv2-bodyv2 {
  width: 100%;
  padding: 1.3333rem 0;
}

.ipanelv2 .ipanelv2-body .ibody-content {
  width: 100%;
}

.ipanelv2 .ipanelv2-body .ilucky-img {
  width: 8.3333rem;
  height: 3.6666rem;
  position: absolute;
  top: 0.4444rem;
  right: -0.6666rem;
  transform: rotate3d(1, 1, 1, 29deg);
}


.inft-history-lists {
  width: 100%;
  max-height: 49.4444rem;
  min-height: 12rem;
  margin: 1.2rem auto;
  border-radius: 0.8888rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.inft-history-lists:hover {
  overflow: auto;
}

.inft-history-lists::-webkit-scrollbar {
  width: 0.2222rem;
  padding: 0.8888rem 0;
}

.inft-history-lists::-webkit-scrollbar-thumb {
  border-radius: 0.2222rem;
  background: #434648;
}

.btn-outline-secondary {
  border-color: #3C3C3C;
}


/* right sub-model */
.ioriginal-links {
  width: 100%;
  line-height: 2.5rem;
  font-size: 1.714286rem;
  font-weight: 400;
  color: #6875FD;
  margin-top: 1.142857rem;
}

.ioriginal-links>img {
  width: 1.1111rem;
  height: 1.1111rem;
  margin-left: 0.4444rem;
}

.itrade .isubtitle {
  width: 100%;
  line-height: 2.142857rem;
  font-size: 1.428571rem;
  font-weight: 400;
  color: #8E8A8A;
}

.itrade .icontent {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 0.5555rem;
  font-size: 1.285714rem;
  font-weight: 300;
}

.itrade .icontent-v2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.itrade .icontent .idesc {
  color: #8E8A8A;
  font-size: 1.285714rem;
}

.itrade .icontent .ilogo-oph {
  width: 1.857143rem;
  height: 1.857143rem;
  margin-right: 0.4444rem;
}

.itrade .icontent .ilogo-eth {
  width: 0.857143rem;
  height: 1.428571rem;
  margin-right: 0.571429rem;
}

.itrade .icontent .ireward-nft {
  width: 4.7222rem;
  height: 4.6666rem;
}

.itrade .icontent .inum {
  line-height: 3.928571rem;
  font-size: 2.571429rem;
  font-weight: 600;
  font-family: Poppins-SemiBold, Poppins;
}

.itrade-v2 {
  width: 100%;
  padding: 0 1.3333rem;
}

.ihr {
  width: 100%;
  height: 0.071429rem;
  background: #3F4142;
  margin: 1.3333rem 0;
}

/* Countdown */
.iend-time {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.iend-time .iend-time-item {
  width: 33.3%;
  color: #979797;
}

.inum-tit {
  font-size: 1.285714rem;
}

.iend-time .iend-time-item .inum {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  font-family: Poppins-Medium, Poppins;
}

/* progress */
.iprogress {
  width: 14.285714rem;
  height: 1.3888rem;
  border-radius: 0.571429rem;
  background: #434648;
}

.iprogress .iprogress-inner {
  min-width: 1.3888rem;
  height: 1.3888rem;
  border-radius: 0.7222rem;
  text-align: center;
}

.iprogress .iprogress-value {
  width: 6.7777rem;
  height: 1.3888rem;
  line-height: 1.3888rem;
  position: absolute;
  font-size: 1.1111rem;
  font-weight: 500;
  margin-top: -1.3888rem;
  margin-left: 0.4444rem;
  color: #1C212B;
}

.iprogress-valuev2 {
  line-height: 1.8333rem;
  font-size: 1.428571rem;
  font-weight: 400;
  margin: 0 0.6666rem;
}


/* buy now */
.ibuy-now {
  margin: 1.44rem auto 1.44rem 0;
}

.ibuy-now-v2 {
  padding-top: 1rem;
}

.ibuy-now .ititle {
  margin-top: 2.142857rem;
  margin-bottom: 1.714286rem;
  /* margin-top: 1.2rem;
  line-height: 3.44rem;
  font-size: 1.2rem; */
}

.ibuy-now .ibtn-left-count {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #303131;
  color: #979797;
  height: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.ibuy-now .ibtn-right-count {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #303131;
  color: #979797;
  height: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.ibuy-now .ibtn-nums {
  width: 6rem !important;
  height: 3rem !important;
  font-size: 1.444444rem !important;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.ibuy-now .ibuy-now-btn {
  width: 17.214286rem;
  height: 3.571429rem;
  line-height: 3.571429rem;
  border-radius: 2.2222rem;
  font-size: 1.5555rem;
  font-family: Poppins-SemiBold, Poppins;
  font-weight: 600;
  margin-top: 4.571429rem;
}

.ibuy-now .irewarded-btn {
  background: #686868;
  color: #3C3C3C;
}
