.inavigation {
  width: 100%;
  margin: 9.5rem 0 3.142857rem;
}

.inavigation .inavi-contant {
  font-size: 2rem;
  font-weight: 400;
  color: #979797;

  font-family: Poppins-Regular, Poppins;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inavigation .inavi-contant .navi-item {
  width: 33.3%;
  line-height: 2.2222rem;
  padding: 0 0 2.4444rem;
  /* border-bottom: 0.3333rem solid #F7B62D00; */
  text-align: center;
}

.inavigation .inavi-contant .navi-active {
  /* border-bottom: 0.3333rem solid #F7B62D; */
  font-family: Poppins-Medium, Poppins;
  color: #FFFFFF;
  transition: all .3s ease-in-out 0.1s;
}

.inavigation .inavi-slider {
  width: 100%;
  height: 0.4444rem;
  border-bottom: 0.1111rem solid #3F4142;
  overflow: hidden;
}

.inavigation .inavi-slider .islider {
  width: 27.2222rem;
  height: 0.3333rem;
  background: #F7B62D;
  transition: transform .3s ease-in-out 0.1s;
}

.iprofileimg-contain {
  width: 27.428571rem;
  height: 35rem;
  margin: 0 auto 1.3333rem;
  border: 0.1111rem solid #3F4142;
  border-radius: 1.1666rem;
  padding: 1.571429rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.iprofileimg-contain:hover {
  filter: brightness(0.96);
}

.iprofileimg {
  width: 24.285714rem;
  height: 26.357143rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8888rem;
  overflow: hidden;
}

.iprofileimg-contain .ip-img {
  width: 100%;
  height: auto;
}

.iprofileimg-contain .ip-content {
  width: 100%;
  margin: 1.3333rem auto;
  color: #979797;
}

.iprofileimg-contain .ip-content .ip-name {
  width: 100%;
  line-height: 2.1666rem;
  font-size: 1.428571rem;
  font-family: Poppins-Medium, Poppins;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iprofileimg-contain .ip-content .ip-value {
  width: 100%;
  line-height: 2rem;
  font-size: 1.285714rem;
  font-weight: 300;
  font-family: Poppins-Light, Poppins;
  margin-top: 0.1111rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iprofileimg-contain .ip-content .ip-value .ivalue {
  /* color: #3b3b3b; */
}

/* v2 */
.istatus {
  width: 100%;
  position: absolute;
  bottom: 1.428571rem;
  right: 1rem;
}

.istatus .istatus-imgs {
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;

}

.istatus .istatus-imgs .lucker-img {
  width: 6.571429rem;
  height: 2.5rem;
}

.istatus .istatus-imgs .rewarded-img {
  width: 6.5rem;
  height: 2.571429rem;
}

.istatus .itimes {
  padding: 2.4444rem 0 0 2.6666rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.istatus .itimes .itimer-cell {
  width: 1.928571rem;
  height: 1.857143rem;
  line-height: 1.7rem;
  border: 0.1666rem solid #3F4142;
  border-radius: 0.4444rem;
  background: #FFFFFF;
  font-size: 1.214286rem;
  font-weight: 400;
  text-align: center;
}

.istatus .itimes .itimer-dots {
  width: 0.285714rem;
  margin: 0 0.6666rem;
}

.iovertime {
  color: #979797;
}
